Repository MicrosoftDocs/windows-driver-docs, pull requests merged in 2018-10, with the labels that each got.

#858 Update other-wdk-downloads.md
  windows-driver-docs-pr/other-wdk-downloads.md
Labels: in-progress

#871 Update using-a-component-inf-file.md
  windows-driver-docs-pr/install/using-a-component-inf-file.md
Labels: in-progress

#909 typo: Double word "drivers"
  windows-driver-docs-pr/ifs/reparse-point-tag-request.md
  windows-driver-docs-pr/network/miniport-adapter-direct-oid-requests.md
Labels: doc-bug, triaged

#908 typo: Double word "timer"
  windows-driver-docs-pr/network/silly-window-syndrome-prevention-timer.md
Labels: doc-bug, triaged

#907 typo: Double word "contains"
  windows-driver-docs-pr/network/wdi-tlv-configured-cipher-key.md
  windows-driver-docs-pr/network/wdi-tlv-rsn-key-info.md
Labels: doc-bug, triaged

#906 typo: Double word "of"
  windows-driver-docs-pr/debugger/-minipkd-adapter.md
  windows-driver-docs-pr/print/bidirectional-request-and-response-schemas.md
Labels: doc-bug, triaged

#905 typo: Double word "list"
  windows-driver-docs-pr/print/defining-data-types-by-using-templates.md
Labels: doc-bug, triaged

#903 typo: Double word "also"
  windows-driver-docs-pr/storage/querying-for-the-write-cache-property.md
Labels: doc-bug, triaged

#901 typo: Double word "a"
  windows-driver-docs-pr/ifs/fsctl-set-refs-smr-volume-gc-parameters.md
  windows-driver-docs-pr/taef/data-driven-testing.md
Labels: doc-bug, triaged

#900 typo: Double word "by"
  windows-driver-docs-pr/taef/making-the-most-of-taef.md
Labels: doc-bug, triaged

#922 fix typo in SerCx2 article
  windows-driver-docs-pr/serports/sercx2-architectural-overview.md
Labels: assigned-to-author, doc-bug, triaged

#917 Added links to "Resolution" section
  windows-driver-docs-pr/debugger/bug-check-0x149--refs-file-system.md
Labels: assigned-to-author, doc-enhancement, triaged

#940 Basic troubleshooting steps
  windows-driver-docs-pr/debugger/bug-check-0x121---driver-violation.md
Labels: assigned-to-author, doc-enhancement, triaged
