Repository MicrosoftDocs/windows-driver-docs, pull requests merged in 2019-07, with the labels that each got.

#1641 Add proper documentation on "-pc"
  windows-driver-docs-pr/debugger/dbgsrv-command-line-options.md
Labels: assigned-to-author, doc-enhancement, triaged

#1634 Added "Resolution" section
  windows-driver-docs-pr/debugger/bug-check-0x4a--irql-gt-zero-at-system-service.md
Labels: assigned-to-author, doc-enhancement, triaged

#1646 Update bug-check-code-reference2.md
  windows-driver-docs-pr/debugger/bug-check-code-reference2.md
Labels: assigned-to-author, doc-bug, triaged

#1645 Update bug-check-code-reference2.md
  windows-driver-docs-pr/debugger/bug-check-code-reference2.md
Labels: assigned-to-author, doc-bug, triaged

#1652 Fix spelling error in bug-check-0x50--page-fault-in-nonpaged-area.md
  windows-driver-docs-pr/debugger/bug-check-0x50--page-fault-in-nonpaged-area.md
Labels: assigned-to-author, doc-bug, triaged

#1661 Make validation a subsection under Wake on Voice.
  windows-driver-docs-pr/audio/voice-activation.md
Labels: doc-enhancement
