Repository MicrosoftDocs/windows-driver-docs, pull requests merged in 2019-05, with the labels that each got.

#1516 Adding "/fd sha256"
  windows-driver-docs-pr/install/test-signing-a-driver-through-an-embedded-signature.md
Labels: All set for 5/6

#1515 Adding "/fd sha256"
  windows-driver-docs-pr/install/test-signing-a-driver-package-s-catalog-file.md
Labels: All set for 5/6

#1514 Adding "/fd sha256"
  windows-driver-docs-pr/install/release-signing-a-driver-through-an-embedded-signature.md
Labels: All set for 5/6

#1512 Adding release notes for WinDbg Preview 1904
  windows-driver-docs-pr/debugger/windbg-what-is-new-preview.md
Labels: All set for 5/6

#1510 Changed the response json for Get-a-product
  windows-driver-docs-pr/dashboard/get-a-product.md
Labels: All set for 5/6

#1509 Updated the response json
  windows-driver-docs-pr/dashboard/get-all-products.md
Labels: All set for 5/6

#1508 Permit non-DX APIs to sever WDK dependencies.
  windows-driver-docs-pr/display/container-non-dx.md
Labels: All set for 5/6

#1506 Update register-for-the-hardware-program.md
  windows-driver-docs-pr/dashboard/register-for-the-hardware-program.md
Labels: All set for 5/6

#1505 Update hardware-dashboard-faq.md
  windows-driver-docs-pr/dashboard/hardware-dashboard-faq.md
Labels: All set for 5/6, doc-bug

#1345 Edited description. Added "Resolution" section.
  windows-driver-docs-pr/debugger/bug-check-0x1d3--wfp-invalid-operation.md
Labels: All set for 5/6, assigned-to-author, doc-enhancement, triaged

#1522 Added "Resolution" section.
  windows-driver-docs-pr/debugger/bug-check-0x1000007e--system-thread-exception-not-handled-m.md
Labels: assigned-to-author, doc-enhancement, triaged

#1530 Added "Resolution" section.
  windows-driver-docs-pr/debugger/bug-check-0x192--video-dxgkrnl-livedump.md
Labels: assigned-to-author, doc-enhancement, triaged

#1532 Added "Resolution" section.
  windows-driver-docs-pr/debugger/bug-check-0x1c6--fast-eresource-precondition-violation.md
Labels: assigned-to-author, doc-enhancement, triaged
