Repository MicrosoftDocs/windows-driver-docs, pull requests merged in 2019-04, with the labels that each got.

#1458 Update -vad.md
  windows-driver-docs-pr/debugger/-vad.md
Labels: doc-bug

#1308 Added "Resolution" section
  windows-driver-docs-pr/debugger/bug-check-0x5a--critical-service-failed.md
Labels: assigned-to-author, doc-enhancement, triaged

#1419 Added "Resolution" section
  windows-driver-docs-pr/debugger/bug-check-0xff---reserve-queue-overflow.md
Labels: assigned-to-author, doc-enhancement, triaged

#1418 Added "Resolution" section
  windows-driver-docs-pr/debugger/bug-check-0xfe--bugcode-usb-driver.md
Labels: assigned-to-author, doc-enhancement, triaged

#1372 Edited "Cause" section
  windows-driver-docs-pr/debugger/bug-check-0x51--registry-error.md
Labels: assigned-to-author, doc-enhancement, triaged

#1347 Added "Resolution" section
  windows-driver-docs-pr/debugger/bug-check-0xb9--chipset-detected-error.md
Labels: assigned-to-author, doc-enhancement, triaged

#1302 Edited the bug check description
  windows-driver-docs-pr/debugger/bug-check-0x9f--driver-power-state-failure.md
Labels: assigned-to-author, doc-enhancement, triaged

#1297 Added link to "Remarks" section
  windows-driver-docs-pr/debugger/bug-check-0xe2--manually-initiated-crash.md
Labels: assigned-to-author, doc-enhancement, triaged

#1390 Added "Resolution" section
  windows-driver-docs-pr/debugger/bug-check-0xfe--bugcode-usb-driver.md
Labels: assigned-to-author, doc-enhancement, triaged

#1293 Fixed all the markup inside the table
  windows-driver-docs-pr/debugger/gflags-details.md
Labels: assigned-to-author, doc-bug, triaged

#1468 Edited "Resolution"
  windows-driver-docs-pr/debugger/bug-check-0x135--registry-filter-driver-exception.md
Labels: assigned-to-author, doc-enhancement, triaged
