Repository MicrosoftDocs/windows-driver-docs, pull requests merged in 2025-09, with the labels that each got.

#3987 Add release notes for Windbg Aug release.
  windows-driver-docs-pr/debuggercmds/windbg-release-notes.md
Labels: ready-to-merge, Change sent to author, windows-hardware-driver-quality/svc

#3919 Doc addition for RestartKdNetUsbDebugDevice setting
  windows-driver-docs-pr/debugger/setting-up-a-kdnet-usb-connection.md
Labels: do-not-merge, Change sent to author, windows-hardware-driver-quality/svc, aq-pr-triaged, debugger/subsvc

#3988 Patch 2025 09 05 01 fix typo in STATUS_INSUFFICIENT_RESOUCES
  windows-driver-docs-pr/ifs/fsctl-offload-read.md
  windows-driver-docs-pr/ifs/fsctl-offload-write.md
Labels: do-not-merge, Change sent to author, windows-hardware-driver-quality/svc, ifs/subsvc

#3990 Kasan: document the VS versions that fixed the regressions
  windows-driver-docs-pr/devtest/kasan.md
Labels: ready-to-merge, Change sent to author, windows-hardware-driver-quality/svc, aq-pr-triaged, devtest/subsvc
