Repository MicrosoftDocs/windows-driver-docs, pull requests merged in 2025-08, with the labels that each got.

#3980 EFI and OROM in same package
  windows-driver-docs-pr/dashboard/file-signing-reqs.md
Labels: windows-hardware/prod, dashboard/tech, do-not-merge, Change sent to author, aq-pr-triaged

#3984 Fix function call to retrieve power offload element
  windows-driver-docs-pr/netcx/configuring-power-management.md
Labels: ready-to-merge, Change sent to author, windows-hardware-driver-quality/svc, aq-pr-triaged, netcx/subsvc

#3985 Enhance power management documentation with additional references
  windows-driver-docs-pr/netcx/configuring-power-management.md
Labels: do-not-merge, Change sent to author, windows-hardware-driver-quality/svc, netcx/subsvc
